# -----------------------------
# Virtual Environment
# -----------------------------
venv/

# -----------------------------
# Python Cache
# -----------------------------
__pycache__/
*.py[cod]

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# Jupyter Notebook
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# VS Code Settings
# -----------------------------
.vscode/

# -----------------------------
# Logs
# -----------------------------
logs/
*.log

# -----------------------------
# Output Files
# -----------------------------
outputs/

# -----------------------------
# Operating System Files
# -----------------------------
Thumbs.db
.DS_Store